:root {
    --primary-color: #fff;
    --alter-color: #333;
    --primary-bg: #191A19;
    --second-bg: #1E5128;
    --thirth-bg: #4E9F3D;
    --fourth-bg: #D8E9A8;
    --Font-1: 'Lora', serif;
    --Font-2: 'Roboto', sans-serif;
    --Font-special: 'Comforter', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
a {
    color: #333;
    text-decoration: none;
}
li {
    list-style: none;
}
input:focus {
    outline: none;
}
button {
    border: none;
}
/* HEADER */
header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-bg);
    height: 90px;
}
header .root-icon {
    grid-area: 1 / 1 / 2 / 2;
    height: 35px;
    width: 35px;
    background-image: url("../assets/svg/farm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    grid-area: 1 / 2 / 2 / 3;
    color: var(--primary-color);
    font-family: var(--Font-1);
    font-size: 3rem;
}

/* NAVBAR-SIDE */
nav {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: baseline;
    visibility: hidden;
}

nav .nav-container {
    position: fixed;
    z-index: 500;
    top: 120px;
    height: 500px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bg);
    border-radius: 15px;
    transform: translate(70px ,0);
    transition: all .5s ease-in-out;
}
nav .nav-container:hover {
    transform: translateX(0px);
}

/* NAVBAR-ICON */

nav .nav-container .nav-icon-container a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
nav .nav-container .nav-icon-container a:hover {
    box-shadow: 0px 3px 10px 2px rgba(255, 255, 255, 0.88);
}
.facebook a {
    background-image: url("../assets/svg/facebook.png");
}
.instagram a {
    background-image: url("../assets/svg/instagram.png");
}
.linkedin a {
    background-image: url("../assets/svg/linkedin.png");
}
.github a {
    background-image: url("../assets/svg/github.png");
}

/* MAIN */
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 91.1vh;
}
main img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 57% 0%;
    object-position: 66% 0%;
    /* FORM */
    /* filter: blur(10px); */
}
main .back-arrow {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
    height: 30px;
    width: 30px;
    background-image: url("../assets/svg/right-arrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
main .back-arrow a {
    padding: 30px;
}
main .start-button-container {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: calc(50% - 50px);
}
main .start-button {
    background-color: var(--second-bg);
    transition: all .5s ease-in-out;
}
main .start-button:hover {
    outline: 3px solid #fff;
} 
main .start-button:focus-within {
    opacity: 0;
    /* transform: scale(.5); */
}
main .start-button a {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-family: var(--Font-1);
    font-size: 2rem;
    font-weight: bold;
}

/* FORM LOGIN */
main .login-form {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    /* ON INDEX */
    visibility: hidden;
    opacity: 0;
}
main .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 5rem;
    color: var(--primary-color);
}
.login-form .form-input input {
    margin: 10px 0;
    padding: 13px 35px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #fff;
}
.login-form .form-input input::placeholder {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--Font-2);
    font-size: 1.5rem;
    font-weight: 300;
}
.login-form .submit-button {
    padding: 13px 103px;
    margin: 10px 0;
    background-color: var(--thirth-bg);
    border-radius: 50px;
    border: none;
    font-family: var(--Font-2);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
}
.login-form .login-register-button {
    margin: 10px 0;
    background-color: transparent;
    font-weight: var(--Font-2);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
    text-decoration: underline;
}


